{
  "branches": [
    "master",
    {
      "name": "fix/*",
      "prerelease": "${name.replace(/^fix\\//g, \"\")}",
      "channel": "${name.replace(/^fix\\//g, \"\")}"
    },
    {
      "name": "feat/*",
      "prerelease": "${name.replace(/^feat\\//g, \"\")}",
      "channel": "${name.replace(/^feat\\//g, \"\")}"
    }
  ],
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "angular",
      "releaseRules": [
        { "type": "docs", "release": "patch" },
        { "type": "refactor", "release": "patch" },
        { "type": "style", "release": "patch" }
      ]
    }],
    ["@semantic-release/release-notes-generator", { "preset": "angular" }],
    ["@semantic-release/changelog", { "changelogFile": "CHANGELOG.md" }],
    "@semantic-release/npm",
    "@semantic-release/github",
    ["@semantic-release/git", {
      "assets": ["CHANGELOG.md", "package.json"],
      "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }]
  ]
}
